<% if message.donation == true %>


  <p class="card-text bold">
    <%= image_tag message.user.icon %>

     <strong> <%= link_to profile_path(message.user), target: :_blank do %>  <span style="color: <%= message.user.color %> ;"> <%= message.user.name %> </span> <% end %> </strong> : <%= message.body %>  <span style="margin-left: 5px;"> <%= image_tag "rubysmall.svg" %></span>
  </p>

<% else %>

  <p class="card-text">
    <%= image_tag message.user.icon %>

    <strong> <%= link_to profile_path(message.user), target: :_blank do %> <span style="color: <%= message.user.color %> ;"> <%= message.user.name %> </span>  <% end %></strong> : <%= message.body %>
  </p>

<% end %>
