
<%= simple_form_for([@livestream, @ticket], remote: true) do |f| %>
  <%= f.button :submit, "GET YOUR TICKET", class: 'btn btn-primary btn-buy-ticket' %>

<div class="ticket-icon">
  <i class="fa-for-js fa fa-lg fa-ticket fa-black " aria-hidden="true"></i>
</div>
    <div id="ticket-price-next-to-buy-ticket-btn">
    <% if @livestream.ticket_price == (nil && 0) %>
      Price: <strong>FREE</strong>
    <% elsif @livestream.ticket_price == 1 %>
      Price: <strong><%= " #{@livestream.ticket_price}" %> ruby <%= image_tag "rubysmall.svg" %></strong>

    <% else %>
      Price: <strong>  <%= " #{@livestream.ticket_price}" %> rubies <%= image_tag "rubysmall.svg" %></strong>
    <% end %>
    </div>
    <div id="ticket-price-next-to-buy-ticket-btn"> <%= @livestream.tickets_available - (@livestream.tickets_sold || 0 )%> seats left
    </div>
<% end %>


