<!-- Livestream card-squares for HP -->

<!-- Upcoming Livestreams -->
<div class="home-wrapper">
  <div class="cards-square-container container">
    <h4>Upcoming Livestreams</h4>
      <div class="row">

        <!-- Livestream disappears if it ended -->
          <% not_ended_livestreams = [] %>
          <% Livestream.order(:hour_of_stream).all.each do |livestream| %>
            <% if livestream.ended == false && Time.now < livestream.hour_of_stream.localtime + 86400  %>
                  <% not_ended_livestreams << livestream %>
            <% end %>
          <% end %>
              <% not_ended_livestreams.first(3).each do |livestream| %>
                  <div class="col-xs-12 col-sm-6 col-md-4">

                    <div class="card-square" >

                      <% if livestream.main_picture? %>
                      <div class="card-square-image" style="background-image: url('<%= cl_image_path livestream.main_picture.path, crop: :fill %>');">

                      <!-- if livestream is live: yellow tag -->
                      <% if Time.now > livestream.hour_of_stream.localtime && Time.now < livestream.hour_of_stream.localtime + 120.minutes %>
                        <!-- display tag -->
                        <div class="card-live">
                          <p>
                            <strong>LIVE </strong>now
                            <span class="blink_me" style="color: red; font-size: 50px;"><strong>•</strong></span>
                          </p>
                        </div>
                      <% end %>

                      <div class="card-black-title-banner">
                        <div class="card-title">
                          <p><%= livestream.title %></p>
                        </div>
                      </div>
                      <div class="card-first-name" >
                      <p><%= livestream.user.name %> </p>
                      </div>
                      <div class="card-date">
                        <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
                      </div>
                        <div class="card-square-background">
                        <%= image_tag "logo.svg", class:'logo' %></div>
                      </div>
                      <% else %>
                      <div class="card-square-image" style="background-image: url('<%= image_path 'chef.png'%>');">
                      <p><%= livestream.title %></p>
                      <div class="card-first-name" >

                      <p><%= livestream.user.name %> </p>
                      </div>
                      <div class="card-date">
                        <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
                      </div>
                        <div class="card-square-background">
                        <%= image_tag "logo.svg", class:'logo' %></div>
                      </div>
                      <% end %>


                      <div class="card-square-info">
                        <p><strong><%= livestream.title %></strong></p>
                        <p><%= livestream.description %></p>
                      </div>
                      <div class="card-square-avatar">

                        <% if livestream.user.profilepic != nil %>
                          <%= cl_image_tag livestream.user.profilepic.path, class: "avatar" %>
                          <% else %>
                            <% if livestream.user.facebook_picture_url != nil %>
                            <%= image_tag livestream.user.facebook_picture_url, class: "avatar" %>
                            <% else %>
                            <% end %>
                        <% end %>

                      </div>
                      <div class="card-square-date">
                        <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
                      </div>
                      <%= link_to "", livestream_path(livestream), class: "card-square-link" %>
                    </div>
                  </div>
              <% end %>
      </div>
    </div>
  </div>


<!-- Category cards -->

<!-- fashion category -->

 <!-- Livestream disappears if it ended -->
      <% fashion_not_ended_livestreams = [] %>
      <% @fashion_livestreams.order(:hour_of_stream).all.each do |livestream| %>
      <% if livestream.ended == false && Time.now < livestream.hour_of_stream.localtime + 86400  %>
            <% fashion_not_ended_livestreams << livestream %>
        <% end %>
    <% end %>
<% if fashion_not_ended_livestreams.count != 0 %>
  <div class="home-wrapper">
    <div class="cards-square-container container">
      <h4><%= @fashion_livestreams.first.category.capitalize %></h4>
      <div class="row">

        <% fashion_not_ended_livestreams.first(3).each do |livestream| %>
          <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="card-square" >

              <% if livestream.main_picture? %>
              <div class="card-square-image" style="background-image: url('<%= cl_image_path livestream.main_picture.path, crop: :fill %>');">

              <!-- if livestream is live: yellow tag -->
              <% if Time.now > livestream.hour_of_stream.localtime && Time.now < livestream.hour_of_stream.localtime + 120.minutes %>
              <!-- display tag -->
              <div class="card-live">
                <p>
                  <strong>LIVE </strong>now
                  <span class="blink_me" style="color: red; font-size: 50px;"><strong>•</strong></span>
                </p>
              </div>
              <% else %>
              <% end %>

              <div class="card-black-title-banner">
                <div class="card-title">
                  <p><%= livestream.title %></p>
                </div>
              </div>
              <div class="card-first-name" >
              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% else %>
              <div class="card-square-image" style="background-image: url('<%= image_path 'chef.png'%>');">
              <p><%= livestream.title %></p>
              <div class="card-first-name" >

              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% end %>


              <div class="card-square-info">
                <p><strong><%= livestream.title %></strong></p>
                <p><%= livestream.description %></p>
              </div>
              <div class="card-square-avatar">
                <% if livestream.user.profilepic != nil %>
                <%= cl_image_tag livestream.user.profilepic.path, class: "avatar" %>
                <% else %>
                <% if livestream.user.facebook_picture_url != nil %>
                <%= image_tag livestream.user.facebook_picture_url, class: "avatar" %>
                <% else %>
                <% end %>
                <% end %>
                <%# end %>
              </div>
              <div class="card-square-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
              <%= link_to "", livestream_path(livestream), class: "card-square-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end  %>

<!-- Add more categories when cards are finished with sufficient code -->

<!-- foodie category -->

    <!-- Livestream disappears if it ended -->
  <% foodie_not_ended_livestreams = [] %>
  <% @foodie_livestreams.order(:hour_of_stream).all.each do |livestream| %>
  <% if livestream.ended == false && Time.now < livestream.hour_of_stream.localtime + 86400  %>
        <% foodie_not_ended_livestreams << livestream %>
    <% end %>
<% end %>

<% if foodie_not_ended_livestreams.count != 0 %>
  <div class="home-wrapper">
    <div class="cards-square-container container">
      <h4><%= @foodie_livestreams.first.category.capitalize %></h4>
      <div class="row">

        <% foodie_not_ended_livestreams.first(3).each do |livestream| %>
          <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="card-square" >

              <% if livestream.main_picture? %>
              <div class="card-square-image" style="background-image: url('<%= cl_image_path livestream.main_picture.path, crop: :fill %>');">

              <!-- if livestream is live: yellow tag -->
              <% if Time.now > livestream.hour_of_stream.localtime && Time.now < livestream.hour_of_stream.localtime + 120.minutes %>
              <!-- display tag -->
              <div class="card-live">
                <p>
                  <strong>LIVE </strong>now
                  <span class="blink_me" style="color: red; font-size: 50px;"><strong>•</strong></span>
                </p>
              </div>
              <% else %>
              <% end %>

              <div class="card-black-title-banner">
                <div class="card-title">
                  <p><%= livestream.title %></p>
                </div>
              </div>
              <div class="card-first-name" >
              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% else %>
              <div class="card-square-image" style="background-image: url('<%= image_path 'chef.png'%>');">
              <p><%= livestream.title %></p>
              <div class="card-first-name" >

              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% end %>


              <div class="card-square-info">
                <p><strong><%= livestream.title %></strong></p>
                <p><%= livestream.description %></p>
              </div>
              <div class="card-square-avatar">
                <% if livestream.user.profilepic != nil %>
                <%= cl_image_tag livestream.user.profilepic.path, class: "avatar" %>
                <% else %>
                <% if livestream.user.facebook_picture_url != nil %>
                <%= image_tag livestream.user.facebook_picture_url, class: "avatar" %>
                <% else %>
                <% end %>
                <% end %>
                <%# end %>
              </div>
              <div class="card-square-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
              <%= link_to "", livestream_path(livestream), class: "card-square-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end  %>

<!-- fitness category -->

    <!-- Livestream disappears if it ended -->
  <% fitness_not_ended_livestreams = [] %>
  <% @fitness_livestreams.order(:hour_of_stream).all.each do |livestream| %>
  <% if livestream.ended == false && Time.now < livestream.hour_of_stream.localtime + 86400  %>
        <% fitness_not_ended_livestreams << livestream %>
    <% end %>
<% end %>

<% if fitness_not_ended_livestreams.count != 0 %>
  <div class="home-wrapper">
    <div class="cards-square-container container">
      <h4><%= @fitness_livestreams.first.category.capitalize %></h4>
      <div class="row">
        <% fitness_not_ended_livestreams.first(3).each do |livestream| %>
          <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="card-square" >

              <% if livestream.main_picture? %>
              <div class="card-square-image" style="background-image: url('<%= cl_image_path livestream.main_picture.path, crop: :fill %>');">

              <!-- if livestream is live: yellow tag -->
              <% if Time.now > livestream.hour_of_stream.localtime && Time.now < livestream.hour_of_stream.localtime + 120.minutes %>
              <!-- display tag -->
              <div class="card-live">
                <p>
                  <strong>LIVE </strong>now
                  <span class="blink_me" style="color: red; font-size: 50px;"><strong>•</strong></span>
                </p>
              </div>
              <% else %>
              <% end %>

              <div class="card-black-title-banner">
                <div class="card-title">
                  <p><%= livestream.title %></p>
                </div>
              </div>
              <div class="card-first-name" >
              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% else %>
              <div class="card-square-image" style="background-image: url('<%= image_path 'chef.png'%>');">
              <p><%= livestream.title %></p>
              <div class="card-first-name" >

              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% end %>


              <div class="card-square-info">
                <p><strong><%= livestream.title %></strong></p>
                <p><%= livestream.description %></p>
              </div>
              <div class="card-square-avatar">
                <% if livestream.user.profilepic != nil %>
                <%= cl_image_tag livestream.user.profilepic.path, class: "avatar" %>
                <% else %>
                <% if livestream.user.facebook_picture_url != nil %>
                <%= image_tag livestream.user.facebook_picture_url, class: "avatar" %>
                <% else %>
                <% end %>
                <% end %>
                <%# end %>
              </div>
              <div class="card-square-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
              <%= link_to "", livestream_path(livestream), class: "card-square-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end  %>

<!-- yoga category -->

<!-- Livestream disappears if it ended -->
  <% yoga_not_ended_livestreams = [] %>
  <% @yoga_livestreams.order(:hour_of_stream).all.each do |livestream| %>
  <% if livestream.ended == false && Time.now < livestream.hour_of_stream.localtime + 86400  %>
        <% yoga_not_ended_livestreams << livestream %>
    <% end %>
<% end %>

<% if yoga_not_ended_livestreams.count != 0 %>
  <div class="home-wrapper">
    <div class="cards-square-container container">
      <h4><%= @yoga_livestreams.first.category.capitalize %></h4>
      <div class="row">

        <% yoga_not_ended_livestreams.first(3).each do |livestream| %>
          <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="card-square" >

              <% if livestream.main_picture? %>
              <div class="card-square-image" style="background-image: url('<%= cl_image_path livestream.main_picture.path, crop: :fill %>');">

              <!-- if livestream is live: yellow tag -->
              <% if Time.now > livestream.hour_of_stream.localtime && Time.now < livestream.hour_of_stream.localtime + 120.minutes %>
              <!-- display tag -->
              <div class="card-live">
                <p>
                  <strong>LIVE </strong>now
                  <span class="blink_me" style="color: red; font-size: 50px;"><strong>•</strong></span>
                </p>
              </div>
              <% else %>
              <% end %>

              <div class="card-black-title-banner">
                <div class="card-title">
                  <p><%= livestream.title %></p>
                </div>
              </div>
              <div class="card-first-name" >
              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% else %>
              <div class="card-square-image" style="background-image: url('<%= image_path 'chef.png'%>');">
              <p><%= livestream.title %></p>
              <div class="card-first-name" >

              <p><%= livestream.user.name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% end %>


              <div class="card-square-info">
                <p><strong><%= livestream.title %></strong></p>
                <p><%= livestream.description %></p>
              </div>
              <div class="card-square-avatar">
                <% if livestream.user.profilepic != nil %>
                <%= cl_image_tag livestream.user.profilepic.path, class: "avatar" %>
                <% else %>
                <% if livestream.user.facebook_picture_url != nil %>
                <%= image_tag livestream.user.facebook_picture_url, class: "avatar" %>
                <% else %>
                <% end %>
                <% end %>
                <%# end %>
              </div>
              <div class="card-square-date">
                <p><%= livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
              <%= link_to "", livestream_path(livestream), class: "card-square-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end  %>


