  <div class="footer">
    <div class="container">
      <ul class="list-inline text-center">
        <li><i class="fa fa-youtube fa-2x icon-spacing" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram fa-2x icon-spacing" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook fa-2x icon-spacing" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter fa-2x icon-spacing" aria-hidden="true"></i></li>
      </ul>
    </div>

    <div class=" text-center">
      <p>Made with <span class="fa fa-heart-o" aria-hidden="true"></span> in London</p>
    </div>


    <div class="text-center container">
      <%= link_to t(".sign_in", default: "Home"), root_path, class: "navbar-socialive-item navbar-socialive-link" %>
      <%= link_to t(".sign_in", default: "Adventure"), "/adventure", class: "navbar-socialive-item navbar-socialive-link" %>
      <%= link_to t(".sign_in", default: "Fashion"), "/fashion", class: "navbar-socialive-item navbar-socialive-link" %>
      <%= link_to t(".sign_in", default: "Food"), "/food", class: "navbar-socialive-item navbar-socialive-link" %>
      <%= link_to t(".sign_in", default: "Fitness"), "/fitness", class: "navbar-socialive-item navbar-socialive-link" %>
      <%= link_to t(".sign_in", default: "Humour"), "/humour", class: "navbar-socialive-item navbar-socialive-link" %>
    </div>

    <div class="copyright">
      <p class="fa fa-copyright">Socialive team</p>
    </div>

  </div>

