<div class="container">
  <div class="black">
    <div class="container">
      <div class="row card-dashboard">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <% @mylivestreams.all.each do |livestream| %>

              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card-square" >
                  
              <% if livestream.main_picture? %>
              <div class="card-square-image" style="background-image: url('<%= cl_image_path livestream.main_picture.path, crop: :fill, effect: :grayscale %>');">

              <!-- if livestream is live: yellow tag -->
              <% if Time.now > livestream.hour_of_stream && Time.now < livestream.hour_of_stream + 45.minutes %>
              <!-- display tag -->
              <div class="card-live">
                <p><strong>LIVE </strong>now</p>
              </div>
              <% else %>
              <% end %>

              <div class="card-title">
              <p><strong><%= livestream.title %></strong></p>
              </div>
              <div class="card-first-name" >
              <p><%= livestream.user.first_name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.strftime('%A, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% else %>
              <div class="card-square-image" style="background-image: url('<%= image_path 'chef.png'%>');">
              <p><strong><%= livestream.title %></strong></p>
              <div class="card-first-name" >
              <p><%= livestream.user.first_name %></p>
              </div>
              <div class="card-date">
                <p><%= livestream.hour_of_stream.strftime('%A, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
                <div class="card-square-background">
                <%= image_tag "logo.svg", class:'logo' %></div>
              </div>
              <% end %>


              <div class="card-square-info">
                <p><strong><%= livestream.title %></strong></p>
                <p><%= livestream.description %></p>
              </div>
              <div class="card-square-avatar">
                <% if livestream.user.profilepic != nil %>
                <%= cl_image_tag livestream.user.profilepic.path, class: "avatar-large" %>
                <% else %>
                <% end %>
              </div>
              <div class="card-square-date">
                <p><%= livestream.hour_of_stream.strftime('%A, %b %d %H:%M') if livestream.hour_of_stream %></p>
              </div>
              <%= link_to "", livestream_path(livestream), class: "card-square-link" %>

                </div>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CAROUSEL HIDDEN CODE, SECONDARY WORK -->

<!--   <div class="carousel slide multi-item-carousel" id="indexCarousel">
          <div class="carousel-inner">

            <div class="item card active card-carousel">
            <%# cl_image_tag @livestreams.photos[0].path %>


            </div>

            <%# @livestreams.photos[1..-1].each do |photo| %>


            <div class="item card card-carousel">
              <%# cl_image_tag photo.path %>
            </div>
            <%# end %>


          </div>
          <a class="left carousel-control" href="#indexCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#indexCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div> -->
