<div class="navbar-socialive-categories-livestream navbar-socialive-fixed-ontop">

  <!-- Catgeories -->
  <div class="navbar-socialive-left hidden-xs hidden-sm">
    <%= link_to t(".sign_in", default: "Home"), root_path, class: "navbar-socialive-item navbar-socialive-link" %>
    <%= link_to t(".sign_in", default: "Adventure"), "/adventure", class: "navbar-socialive-item navbar-socialive-link" %>
    <%= link_to t(".sign_in", default: "Fashion"), "/fashion", class: "navbar-socialive-item navbar-socialive-link" %>
    <%= link_to t(".sign_in", default: "Food"), "/food", class: "navbar-socialive-item navbar-socialive-link" %>
    <%= link_to t(".sign_in", default: "Fitness"), "/fitness", class: "navbar-socialive-item navbar-socialive-link" %>
    <%= link_to t(".sign_in", default: "Humour"), "/humour", class: "navbar-socialive-item navbar-socialive-link" %>
    <%= link_to t(".sign_in", default: "Technology"), "/technology", class: "navbar-socialive-item navbar-socialive-link" %>
  </div>

             <!-- Right Navigation -->
  <div class="navbar-socialive-right">
    <div class="navbar-socialive-right hidden-xs hidden-sm">

        <!-- Different navigation if login or not -->
      <% if user_signed_in? %>

        <% if current_user.livestreamer %>
          <div class="pulse-container" data-toggle="modal" data-target="#goliveModal">
            <div class="pulse-livestream blink_me" style="color: red; font-size: 35px;"><strong>•</strong></div>

            <div><a>Go Live</a></div>

          </div>

        <% else %>
          <%= link_to t(".top_call_to_action", default: "Become a livestreamer"), become_a_livestreamer_path, class: "navbar-socialive-item" %>
        <% end %>

        <!-- ruby balance -->

        <% if current_user.balance > 0 %>
          <div class="balance-div">
            <%= link_to buy_rubies_path do %>
              <%= image_tag "ruby.svg" %> <%= number_with_delimiter(current_user.balance) %> <strong>rubies</strong>
            <% end  %>
          </div>
        <% else %>
          <div class="balance-div">
            <%= link_to buy_rubies_path do %>
              <%= image_tag "ruby.svg" %> Buy Rubies
            <% end  %>
          </div>
        <% end %>

        <!-- Profile picture and dropdown -->
      <div class="navbar-socialive-item">
        <div class="dropdown">

        <!-- Notification -->
          <div class="navbar-notification-item">
            <% if current_user.profilepic != nil %>
              <% avatar_url = cl_image_path current_user.profilepic.path %>
            <% else %>
              <% avatar_url = current_user.facebook_picture_url || image_path("default-avatar.png")  %>
            <% end %>
        <!-- <span class="notify-badge">NEW</span> -->
          </div>

            <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-socialive-dropdown-menu">
                <li>
                  <%= link_to "/dashboard" do %>
                    <i class="fa fa-dashboard"></i> <%= t(".profile", default: "Dashboard") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "/" do %>
                    <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
      <% else %>

      <!-- Login text link -->
      <div data-toggle="modal" data-target="#loginModal">
      <%= link_to t(".sign_in", default: "Sign in / Sign-up"), new_user_session_path, class: "navbar-socialive-item navbar-socialive-link" %>
      </div>
      <% end %>

    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-socialive-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-socialive-dropdown-menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/">Home</a></li>
        <li> <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %></li>
      </ul>
    </div>
  </div>

  <!-- Mobile Categories version -->
  <div class="navbar-socialive-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-tags dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-socialive-dropdown-menu">
        <li><a href="/adventure">Adventure</a></li>
        <li><a href="/fashion">Fashion</a></li>
        <li><a href="/food">Food</a></li>
        <li><a href="/fitness">Fitness</a></li>
        <li><a href="/humour">Humour</a></li>
        <li><a href="/technology">Technology</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Modal for Go Live -->
<div class="modal fade" id="goliveModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style= "display: inline; box-sizing: border-box; box-shadow: inset 0px -10px 0px 0px #b7ffd4;">Create your next livestream!</h3>
      </div>

      <div class="modal-body">
        <%= render 'shared/livestream-form' %>
      </div>
    </div>
  </div>
</div>
<!-- Modal above -->

<!-- Modal for Go Live -->
<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style= "display: inline; box-sizing: border-box; box-shadow: inset 0px -10px 0px 0px #b7ffd4;">Login</h3>
      </div>

      <div class="modal-body">
        <%= render 'shared/login' %>
      </div>
    </div>
  </div>
</div>
<!-- Modal above -->


