
<div class="row">

<!-- left side of the page (from tablet to large displays) -->



  <div class="col-sm-6 hidden-xs">
  <div class="dashboard-wrapper-grey-left">

    <h1>Edit your profile</h1>

<!-- wrap in wrapper -->
<!-- <div class="wrapper"> -->
    <%= simple_form_for @user, url: dashboard_path, method: :patch do |f| %>



      <%= f.input :photo, as: :attachinary, label: "Profile picture" %>
      <%= f.input :facebooklink, label: "facebook" %>
      <%= f.input :twitterlink, label: "twitter" %>
      <%= f.input :instagramlink, label: "instagram" %>
      <%= f.input :youtubelink, label: "youtube" %>
      <%= f.input :snapchatlink, label: "snapchat" %>
      <h1>Bio</h1>
      <%= f.input :bio, label: false %>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>

<!-- </div> -->

</div>
  </div>


<!-- right side of the page (from tablet to large displays) -->

  <div class="col-sm-6 hidden-xs">
  <div class="dashboard-wrapper-grey-right">

<!-- wrap in wrapper -->
<!-- <div class="wrapper"> -->

<h1>Tell us about things you like</h1>

<%= simple_form_for @user, url: dashboard_path, method: :patch do |f| %>

      <%= f.input :fav1title, label: "My 1st favorite thing" %>
      <%= f.input :fav1, label: false %>
      <%= f.input :fav2title, label: "My 2nd favorite thing" %>
      <%= f.input :fav2, label: false %>
      <%= f.input :fav3title, label: "My 3rd favorite thing" %>
      <%= f.input :fav3, label: false %>


<h1>My pictures</h1>

      <%= f.input :photos, as: :attachinary, label: "More pictures of you" %>

      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>

<!-- </div> -->

  </div>
</div>

</div>


