<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6 col-md-offset-3">
        <div class="form-login">
          <h4 class="text-center" style="margin-top: 0px;">Edit your profile info</h4>

          <%= simple_form_for @user, url: dashboard_path, method: :patch do |f| %>
            <%= f.input :profilepic, as: :attachinary, label: "Profile picture" %>
            <%= f.input :first_name.downcase, label: false, placeholder: "First name" %>
            <%= f.input :last_name.downcase, label: false, placeholder: "Last name" %>
          <h3>Bio</h3>
            <%= f.input :bio.downcase, label: false, placeholder: "I live in Galapagos and I like turtles" %>
          <h3>Social</h3>
            <%= f.input :facebooklink, label: false, placeholder: "Facebook page URL with http://" %>
            <%= f.input :twitterlink, label: false, placeholder: "Twitter URL with http://" %>
            <%= f.input :instagramlink, label: false, placeholder: "Instagram URL with http://" %>
            <%= f.input :youtubelink, label: false, placeholder: "Youtube channel URL with http://" %>
            <%= f.input :snapchatlink, label: false, placeholder: "Snapchat URL with http://" %>
          <h3>Gallery photos</h3>
            <%= f.input :images, as: :attachinary, label: false %>
            <%= f.button :submit, class: 'btn btn-primary btn-block' %>
        </div>
      </div>

          <% end %>
      </div>
    </div>
  </div>
</div>
