
<div class="container">
  <div class="row">

  <!-- left side of the page (from tablet to large displays) -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="dashboard-wrapper-grey-left">
        <h3 style="margin-top: 0px;">Edit your profile</h3>

        <%= simple_form_for @user, url: dashboard_path, method: :patch do |f| %>
          <%= f.input :profilepic, as: :attachinary, label: "Profile picture" %>
          <%= f.input :first_name.downcase, label: false, placeholder: "First name" %>
          <%= f.input :last_name.downcase, label: false, placeholder: "Last name" %>
        <h3>Bio</h3>
          <%= f.input :bio.downcase, label: false, placeholder: "I live in Galapagos and I like turtles" %>
        <h3>Social</h3>
          <%= f.input :facebooklink, label: false, placeholder: "Facebook page URL" %>
          <%= f.input :twitterlink, label: false, placeholder: "Twitter URL" %>
          <%= f.input :instagramlink, label: false, placeholder: "Instagram URL" %>
          <%= f.input :youtubelink, label: false, placeholder: "Youtube channel URL" %>
          <%= f.input :snapchatlink, label: false, placeholder: "Snapchat URL" %>
        <h3>Gallery photos</h3>
          <%= f.input :images, as: :attachinary, label: false %>
      </div>
    </div>

    <!-- right side of the page (from tablet to large displays) -->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="dashboard-wrapper-grey-right">
        <h3 style="margin-top: 0px;">Ask yourself three questions!</h3>
          <%= f.input :fav1title, label: false, placeholder: "Question 1" %>
          <%= f.input :fav1, label: false, placeholder: "Answer to question 1" %>
          <%= f.input :fav2title, label: false, placeholder: "Question 2" %>
          <%= f.input :fav2, label: false, placeholder: "Answer to question 2" %>
          <%= f.input :fav3title, label: false, placeholder: "Question 3" %>
          <%= f.input :fav3, label: false, placeholder: "Answer to question 3" %>
          <%= f.button :submit, class: 'btn btn-primary btn-block' %>
      </div>
        <% end %>
    </div>
  </div>
</div>
