<% @user ||= current_user %>
<div class="stats">
  <a data-toggle="modal" data-target="#following-list">
    <strong id="following" class="stat" >
      <%= @user.following.count %>
    </strong>
    Following</a>
  <a data-toggle="modal" data-target="#followers-list">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    Followers
  </a>
</div>

<!-- modal: FOLLOWING     -->
<div class="modal fade" id="following-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Following</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% @user.following.all.each do |following| %>
            <%= link_to profile_path(following) do %>
              <li class="list-inline">
              <% if following.profilepic != nil %>
                 <%= cl_image_tag following.profilepic.path, class:"avatar" %>
              <% else %>
              <% end %>
              <%= following.first_name %> <%= following.last_name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal: FOLLOWERS  -->
<div class="modal fade" id="followers-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Followers</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% @user.followers.all.each do |follower| %>
          <%= link_to profile_path(follower) do %>
          <li class="list-inline">
          <% if follower.profilepic != nil %>
             <%= cl_image_tag follower.profilepic.path, class:"avatar" %>
             <% else %>
            <% end %>
            <%= follower.first_name %> <%= follower.last_name %></li>
            <% end %>
            <% end %>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



