<div class="row">
  <div class="col-md-4">
    <section>
      <h1>
        <%= @user.first_name %> <%= @user.last_name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </div>

<section>
  <div id="container">
    <div class="col-xs-12">
      <ul>
     <% @user.followers.all.each do |follower| %>
      <li class="list-inline">
          <% if follower.profilepic != nil %>
            <%= cl_image_tag follower.profilepic.path, class:"avatar" %>
             <% else %>
            <% end %>
            <%= follower.first_name %> <%= follower.last_name %></li>
            <% end %>
        </ul>
    </div>
  </div>
  </section>
</div>



