<div class="login-wrapper">
  <div class="rubies-wrapper">
    <div class="container">
      <div class="row">

          <div class="text-center">

              <div class="[ price-option price-option--low ]">
                <div class="price-option__detail">
                  <span class="price-option__cost">100 Rubies</span>
                  <span class="price-option__type">10GBP</span>
                </div>
                    <div class="price-option__purchase">
                      <%= form_tag orders_path do %>
                      <%= hidden_field_tag 'pack', "pack1" %>
                      <%= submit_tag 'BUY', class:'buy-ruby-button'%>
                      <% end %>
                    </div>
              </div>
              <div class="[ price-option price-option--mid ]">
                <div class="price-option__detail">
                  <span class="price-option__cost">200 Rubies</span>
                  <span class="price-option__type">20GBP</span>
                </div>
                  <div class="price-option__purchase">
                      <%= form_tag orders_path do %>
                      <%= hidden_field_tag 'pack', "pack2" %>
                      <%= submit_tag 'BUY', class:'buy-ruby-button-yellow' %>
                      <% end %>
                  </div>
              </div>
              <div class="[ price-option price-option--high ]">
                <div class="price-option__detail">
                  <span class="price-option__cost">500 Rubies</span>
                  <span class="price-option__type">40gbp</span>
                </div>
                <div class="price-option__purchase">
                      <%= form_tag orders_path do %>
                      <%= hidden_field_tag 'pack', "pack3" %>
                      <%= submit_tag 'BUY', class:'buy-ruby-button-red' %>
                      <% end %>
                </div>
              </div>
            </div>

        </div>
      </div>
  </div>
</div>
