<!-- BANNER -->
<%= render 'shared/banner' %>

<h1><%= current_user.name %></h1>
<!-- SQUARE CARDS HP -->
<%= render 'shared/cards-home' %>

<!-- PAST LIVESTREAMS -->
<%= render 'shared/cards-past' %>

<!-- NEWSLETTER -->
<%= render 'shared/newsletter' %>
