
<%= render 'shared/donate.html.erb' %>

<div class="chat-container">

  <div id="messages" data-chat-room-id="<%= @livestream.id %>">
    <%= render @livestream.messages %>
  </div>
</div>
<%= form_for @message, url: '#' do |f| %>
<div class="form-group">

  <%= f.text_area :body, class: 'form-control text-input-better-css' %>

</div>

<%= f.submit "send", class: 'btn btn-primary btn-sm send-message-btn' %>
<% end %>

