<div class="chat-box">
  <div class="chat-container">
    <div id="messages" data-chat-room-id="<%= @livestream.id %>">
      <%= render @livestream.messages %>
    </div>
  </div>
  <%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.text_field :body, class: 'form-control text-input-better-css', placeholder: "chat..." %>
  </div>
    <%= f.submit "send", class: 'hidden btn btn-primary btn-sm send-message-btn' %>
  <% end %>
  <% if @livestream.donation_feature == true  %>
    <%= render 'shared/donate.html.erb' %>
  <% end  %>
</div>
