<!-- This is the top fans table -->
    <div class="col-xs-12 col-md-4 text-center">
      <h3 style= "display: inline; box-sizing: border-box; box-shadow: inset 0px -10px 0px 0px #b7ffd4;">Top fans</h3>
      <div class="profile-wrapper">
        <div class="leaderboard">
          <ol class="leaderboard-list">
            <li>
              <mark>Jerry Wood</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 1924</small>
            </li>
            <li>
              <mark>Brandon Barnes</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 919</small>
            </li>
            <li>
              <mark>Raymond Knight</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 450</small>
            </li>
            <li>
              <mark>Trevor McCormick</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 246</small>
            </li>
            <li>
              <mark>Andrew Fox</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 139</small>
            </li>
            <li>
              <mark>Jerry Wood</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 98</small>
            </li>
            <li>
              <mark>Brandon Barnes</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 96</small>
            </li>
            <li>
              <mark>Raymond Knight</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 82</small>
            </li>
            <li>
              <mark>Trevor McCormick</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 75</small>
            </li>
            <li>
              <mark>Andrew Fox</mark>
              <small> <span><%= image_tag "ruby.svg" %></span> 71</small>
            </li>
          </ol>
        </div>
      </div>
    </div>
