<div id="video-info-share-container">
  <div id="cat-name">
    <div class="list-inline">
      <% if @livestream.user.profilepic != nil %>
        <%= cl_image_tag(@livestream.user.profilepic.path, class: "avatar", crop: :fill) %>
        <% else @livestream.user.facebook_picture_url != nil %>
        <%= cl_image_tag(@livestream.user.facebook_picture_url, class: "avatar", crop: :fill) %>
      <% end %>

      <h5 style="display: inline; color: $gunmetal; box-sizing: border-box; box-shadow: inset 0px -7px 0px 0px #b7ffd4;">
      <%= @livestream.user.name %>
      </h5>
    </div>
  </div>

  <h4><%= @livestream.title %></h4>
  <p id="video-info-share-description"><%= @livestream.description %></p>

  <div class="video-info-card-date">
    <p><%= @livestream.hour_of_stream.localtime.strftime('%a, %b %d %H:%M')%></p>
  </div>
  <ul class="viewers list-inline">
    <i class="fa fa-ticket fa-black" aria-hidden="true"></i>
    <li> <%= @livestream.tickets_sold %> </li>
  </ul>

  <div id="share-buttons">
    <div class="fb-share-button" data-href="https://socialive.tv/livestreams/<%= @livestream.id %>" data-layout="button" data-size="large" data-mobile-iframe="false">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="">Share</a>
    </div>

    <div class="twitter-share-button">
      <a class="twitter-share-button"
      data-href="https://socialive.tv/livestreams/<%= @livestream.id %>"
      data-size="large">Tweet</a>
    </div>
  </div>

</div>
