<div id="video-info-container">
  <div id="cat-name">
    <div class="list-inline">
      <% if @livestream.user.profilepic != nil %>
        <%= cl_image_tag(@livestream.user.profilepic.path, class: "avatar", crop: :fill) %>
        <% else @livestream.user.facebook_picture_url != nil %>
        <%= cl_image_tag(@livestream.user.facebook_picture_url, class: "avatar", crop: :fill) %>
      <% end %>

      <h5 style="display: inline; color: #B7FFD4;"> <%= @livestream.user.first_name%> <%= @livestream.user.last_name %>
      </h5>
    </div>
    <!-- <h5><#%= @livestream.category.capitalize %></h5> -->
  </div>
  <h4><%= @livestream.title %></h4>
  <p id="video-info-description"><%= @livestream.description %></p>
  <div class="video-info-card-date">
    <p><%= @livestream.hour_of_stream.localtime.strftime('%A, %b %d %H:%M')%></p>
  </div>
  <ul class="viewers list-inline">
    <i class="fa fa-eye" aria-hidden="true"></i>
    <li id="viewerscount"></li>
  </ul>

  <div id="share-buttons">
    <div class="fb-share-button" data-href="https://socialive.tv/livestreams/<%= @livestream.id %>" data-layout="button" data-size="large" data-mobile-iframe="false">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="">Share</a></div>

    <div class="twitter-share-button">
      <a class="twitter-share-button"
      data-href="https://socialive.tv/livestreams/<%= @livestream.id %>"
      data-size="large">Tweet</a>
    </div>
  </div>
</div>
