<div id="video-info-container">
  <div id="cat-name">
    <!-- <h5><#%= @livestream.category.capitalize %></h5> -->
    <h5 style="color: #B7FFD4";> <%= @livestream.user.first_name%> <%= @livestream.user.last_name %></h5>
  </div>
  <h4><%= @livestream.title %></h4>
  <p id="video-info-description"><%= @livestream.description %></p>
  <% if @livestream.user.followers != nil %>
  <div id="new-follower">
    <h5 style="margin-bottom: 0px; color:#B7FFD4;">Newest follower</h5>
    <h5 style="margin-top: 0px;"><%= @livestream.user.followers.last.first_name || 0 %></h5>
    <% if @livestream.user.followers.last.profilepic != nil %>
          <%= cl_image_tag @livestream.user.followers.last.profilepic.path, class: "avatar-large" %>
    <% elsif @livestream.user.followers.last.facebook_picture_url != nil %>
      <%=  image_tag @livestream.user.followers.last.facebook_picture_url, class: "avatar-large" %>
    <% end %>
   </div>
   <% end %>
</div>
