<div id="video-info-container">
  <div id="cat-name">
    <!-- <h5><#%= @livestream.category.capitalize %></h5> -->
    <h5 style="color: #B7FFD4";> <%= @livestream.user.first_name%> <%= @livestream.user.last_name %></h5>
  </div>
  <h4><%= @livestream.title %></h4>
  <p id="video-info-description"><%= @livestream.description %></p>
  <div class="video-info-card-date">
    <p><%= @livestream.hour_of_stream.localtime.strftime('%A, %b %d %H:%M')%></p>
  </div>
  <div id="share-buttons">
    <div class="fb-share-button" data-href="https://socialive.tv/livestreams/<%= @livestream.id %>" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="">Share</a>
    </div>
  </div>
</div>
