<div class="container" >
  <h1 class="text-center">Here are the upcoming livestreams corresponding to your search:</h1>
  <br> <br> <br>
    <div class="row">

      <% @livestreams.each do |livestream| %>
      <div class="col-xs-12">
        <div class="card-container">
          <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'chef.png'%>')"><%= image_tag "logo.svg" %></div>


          <div class="card-wrapper">
          <!-- replace with livestream.time -->
          <div><p class="live-time">Monday 9am</p></div>
            <div class="card-description card-wrapper-description">
              <h2><%= livestream.title %></h2>
              <p><%= livestream.user.email %></p>
              <!-- replace with livestream.description -->
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rerum labore nihil molestiae vero ad illo harum saepe dicta assumenda, aperiam nesciunt dolorem omnis est modi iure doloremque, quia, incidunt.</p>
              <p><strong><%= livestream.category %></strong></p>
            </div>

          </div>
          <%= link_to "", livestream_path(livestream), class: "card-link" %>
        </div>
      </div>
      <% end %>

    </div>

</div>










