
<div class="container" id="title-controls-container">
  <div class="row">
    <div class="col-xs-12">

      <h3 style="color: <%= @livestream.user.color %>", id="livestream-show-page-title"><%= @livestream.user.first_name.capitalize %></h3><h4 style="margin-left: 6px;"><%= @livestream.title %></h4>

    </div>
    <div class="col-xs-12">
    <div class="controls">

      <% if current_user == @livestream.user && @livestream.hour_of_stream <= Time.now %>

      <!-- moved this part at the bottom of video chat -->

      <% elsif current_user == @livestream.user  %>
      <em>Refresh this page when your livestream is scheduled to start and a "Start stream" button will appear </em>
      <div id="controls">

        <div id="preview">

          <!-- <div id="local-media"></div> -->

          <button class="btn-primary btn btn-float-left" id="button-preview">Preview My Camera</button>

        </div>
        <div id="room-controls">
          <!-- <p class="instructions">Room Name:</p> -->
          <!-- <input id="room-name" type="text-area" placeholder="Enter a room name" /> -->
          <%#= if current_user == @livestream.user %>
          <button class="btn-primary btn btn-float-left hidden-buttons" id="button-join">Start stream</button>

          <button class="btn-primary btn btn-float-left hidden-buttons" id="button-leave">End stream</button>

        </div>
        <div id="log"></div>
      </div>
      <% elsif current_user.tickets.where(livestream: @livestream).any? %>
      <p id="ticket-bought">Ticket Bought</p>
      <div class="hidden-buttons">
        <div id="controls">

          <div id="preview">

            <div id="local-media"></div>

            <button id="button-preview">Preview My Camera</button>

          </div>
          <div id="room-controls">
            <!-- <p class="instructions">Room Name:</p> -->
            <!-- <input id="room-name" type="text-area" placeholder="Enter a room name" /> -->
            <%#= if current_user == @livestream.user %>
            <button id="button-join">Join Room</button>

            <button id="button-leave">Leave Room</button>

          </div>
          <div id="log"></div>
        </div>
      </div>
      <% else %>
      <%= render 'shared/buy_ticket' %>
      <% end %>
      </div>
    </div>
  </div>
</div>


<div class="mid-screen-wrapper">

  <div class="container">
    <div class="row">

    <!-- This is the video div BELOW -->
      <%= render 'livestreams/video-section' %>
    <!-- This is the video div ABOVE -->

    <!-- THIS IS THE CHAT below -->
      <%= render 'livestreams/chat-section' %>
    <!-- THIS IS THE CHAT ^^^ -->

    </div>
  </div>

  <!-- inserting start/end livestream buttons below -->

  <div class="col-xs-12">
      <div class="controls player-menu">

        <% if current_user == @livestream.user && @livestream.hour_of_stream <= Time.now %>
        <div id="controls">

          <div id="preview">

            <!-- <div id="local-media"></div> -->

            <button class="btn-primary btn btn-float-left hidden-buttons" id="button-preview">Preview My Camera</button>

          </div>
          <div id="room-controls">
            <!-- <p class="instructions">Room Name:</p> -->
            <!-- <input id="room-name" type="text-area" placeholder="Enter a room name" /> -->
            <%#= if current_user == @livestream.user %>
            <button class="btn-primary btn btn-float-left" id="button-join">Start stream</button>

            <button class="btn-primary btn btn-float-left" id="button-leave">End stream</button>

          </div>
          <div id="log">
          </div>
        </div>
        <% else %>
        <% end %>

      </div>
  </div>

  <!-- inserting start/end livestream buttons above -->

</div>

<div class="container pre-livestream-title">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
      <% if current_user == @livestream.user %>
      <h4>Questions asked by ticket holders before the livestream</h4>
      <!-- <div id="inquiry-input"> -->
      <%#= simple_form_for [@livestream, @question] do |f| %>
      <%#= f.input :inquiry, label: false %>
      <%#= f.button :submit, 'Ask', class: 'btn btn-primary' %>
      <%# end %>
      <!-- </div> -->
      <div class="pre-livestream-questions-container">
        <table id="pre-livestream-questions">
          <% if @livestream.questions.any? %>
          <% @livestream.questions.each do |question| %>
          <tr>
            <th><%= question.inquiry %></th>
            <td><%= question.user.first_name %></td>
          </tr>
          <% end %>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!-- this col is the profile -->
    <div class="col-xs-12 col-md-8">
      <div class="profile-wrapper margin-bottom-20">
        <!-- now we nest another bootstrap grid so that we can have a responsive profile layout -->
        <div class="row">
          <!-- Below is the avatar div -->
          <div class="col-xs-12 col-sm-4">
            <div>
              <% if @livestream.user.profilepic != nil %>
              <%= cl_image_tag(@livestream.user.profilepic.path,
              width: 200, height: 200, crop: :fill) %>
              <% else  %>
              <% end %>
            </div>
          </div>
          <!-- Below is the about user div-->
          <div class="col-xs-12 col-sm-8">
            <div class="profile-about bottom-margin">
              <%= @livestream.user.first_name.capitalize %>
              <%= render 'shared/follow_form' %>
              <%= render 'shared/stats' %>
            </div>
          </div>

          <div class="col-xs-12 ">
            <table summary="favourite things">
              <tr>
                <th><%= @livestream.user.fav1title %></th>
                <td class="profile-favourite-table-answer"> <%= @livestream.user.fav1 %></td>
              </tr>
              <tr>
                <th><%= @livestream.user.fav2title %></th>
                <td class="profile-favourite-table-answer"><%= @livestream.user.fav2 %></td>
              </tr>
              <tr>
                <th><%= @livestream.user.fav3title %></th>
                <td class="profile-favourite-table-answer"><%= @livestream.user.fav3 %></td>
              </tr>
            </table>
          </div>

        </div>

        <!-- this is the row for the bio -->
        <div class="row">
          <div class="col-xs-12">
            <div class="profile-about">
              <h3>Bio</h3>
              <p><%= @livestream.user.bio %> </p>
            </div>
          </div>
        </div>


        <!-- this is the row for the picture gallery -->
        <div class="row">
          <div class="col-xs-12">
            <div class="black-photo-gallery-wrapper text-center">
              <% @livestream.user.images.each do |photo| %>
              <%= cl_image_tag photo.path, :width=>300 %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <!-- <div class="profile-wrapper">
        <p>Sonya's calendar</p>
      </div> -->
      <%#= image_tag "calendar.svg", :class => "small-calendar"%>
      <% @livestreams.each do |livestream| %>
      <div class="profile-wrapper margin-bottom-20">

        <!-- This is start of the card for an upcoming event -->
        <div class="future-livestreams-card">
          <!-- need to put logic here to truncate title if over 58 characters -->
          <h5 class="future-livestreams-card-title"><%= livestream.title.first(58) %></h5>
          <h6 class="future-livestreams-card-time"> <%= livestream.hour_of_stream.strftime('%A, %b %d %H:%M') %></h6>
          <h6 class="future-livestreams-card-seats"> <%= livestream.tickets_available - (livestream.tickets_sold || 0 )%> seats left </h6>
          <a href="" class="future-livestreams-card-book-button btn btn-primary">book ticket</a>
        </div>

        <!-- This is the end of the card for an upcoming event -->
      </div>
      <% end %>
    </div>

    <!-- This is the top fans table -->
    <div class="col-xs-12 col-md-4">
      <div class="profile-wrapper margin-bottom-20">
        <div class="leaderboard">
          <h3 class="text-center" style="margin-top: 5px; margin-bottom: 20px;">
            Top Fans
          </h3>
          <ol class="leaderboard-list">
            <li>
              <mark>Jerry Wood</mark>
              <small>£315</small>
            </li>
            <li>
              <mark>Brandon Barnes</mark>
              <small>£301</small>
            </li>
            <li>
              <mark>Raymond Knight</mark>
              <small>£292</small>
            </li>
            <li>
              <mark>Trevor McCormick</mark>
              <small>£245</small>
            </li>
            <li>
              <mark>Andrew Fox</mark>
              <small>£203</small>
            </li>
            <li>
              <mark>Jerry Wood</mark>
              <small>£315</small>
            </li>
            <li>
              <mark>Brandon Barnes</mark>
              <small>£301</small>
            </li>
            <li>
              <mark>Raymond Knight</mark>
              <small>£292</small>
            </li>
            <li>
              <mark>Trevor McCormick</mark>
              <small>£245</small>
            </li>
            <li>
              <mark>Andrew Fox</mark>
              <small>£203</small>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- This is the social media follow div -->
    <div class="col-xs-12 col-md-4">
      <div class="profile-wrapper text-center margin-bottom-20">
        <h4> Follow <%= @livestream.user.first_name %> on . . .</h4>

        <i style="font-size: 100px; padding-right: 10px;" class="fa fa-facebook-square" aria-hidden="true"></i>
        <i style="font-size: 100px; padding-right: 10px;" class="fa fa-instagram" aria-hidden="true"></i>
        <i style="font-size: 100px; padding-right: 10px;" class="fa fa-snapchat-square" aria-hidden="true"></i>
      </div>

    </div>

  </div>
</div>
</div>


