<!DOCTYPE html>
<html>
  <head>
    <title>SOCIALIVE</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta property="og:title" content="Socialive TV - Curated and interactive livestreams">
    <meta property="og:image" content=" <%= image_path "cinema.jpg"%>">
    <meta property="og:description" content="Welcome to Socialive, a place to watch private livestreams and interact with the influencers that matter most to you.">
    <meta property="og:site_name" content="Socialive"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="icon" type="image/png" href="<%= image_path "favicon.png" %>" />
  </head>
  <body class="<%= params[:controller] %>_<%= params[:action] %>">

  <% if content_for?(:navbar) %>
     <%= yield(:navbar) %>
    <% else %>
    <%= render 'shared/navbar' %>
  <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield :after_js %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93357198-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
